# dependencies
node_modules/

# Next.js
.next/
out/
.cache/

# env
.env
.env.*
!.env.example

# Prisma / DB
prisma/dev.db
prisma/*.db
prisma/*.db-journal
data/*.db
data/*.db-journal
dev.db

# uploads
data/uploads/
public/uploads/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# tests / artifacts
test-results/
playwright-report/
artifacts/
.tmp/

# misc
*.tsbuildinfo
